<!-- User will be doing their searching from here -->

<div class="jumbotron text-center">
	<h1>The Search Page</h1>	
</div>

<div ui-view></div>


<form ng-submit="search.searchResults(search.movieSearch)">
	<div class="input-group">
		<input type="text" class="form-control" ng-model="search.movieSearch">
			<span class="input-group-btn">
				<button class="btn btn-default" type="submit">Let's find a movie!</button>
			</span>
	</div>	
		<div class="container" ng-repeat="x in search.movieList.Search">
			<p>{{x.Title}}</p>
			<img ng-src="{{x.Poster}}" alt="No Image Availabe">
			<p>Filmed in {{x.Year}}</p>
			<a ui-sref="detail({imdbID: x.imdbID })">Click here to view on IMDB</a>
		</div>
</form>






<!-- http://localhost:8080/#/detail?movieId=tt0372784 -->